header h1, header form {
    text-align: center;
}

img.siren {
    width: 1em;
    height: 1em;
    padding: 0 0.5em;
}

main {
    max-width: 500px;
    margin: 1em auto;
}


.complaint > .line {
    display: flex;
    flex-flow: row;
}

.complaint > .line > .descriptor {
    flex-grow: 1;
}

.complaint button {

    /* background: red; */
}

.complaint .response {
    display: none;
    margin: 0 2em;
}